Task_BranchAlgorithms/Task01/ConsoleApplication1/Debug/
Task_BranchAlgorithms/Task01/ConsoleApplication1/ConsoleApplication1/Debug/
Task_BranchAlgorithms/Task02/ConsoleApplication1/Debug/
Task_BranchAlgorithms/Task02/ConsoleApplication1/ConsoleApplication1/Debug/
Task_BranchAlgorithms/Task03/ConsoleApplication1/Debug/
Task_BranchAlgorithms/Task03/ConsoleApplication1/ConsoleApplication1/Debug/

Task_CyclicAlgorithms/Task01/ConsoleApplication1/Debug/
Task_CyclicAlgorithms/Task01/ConsoleApplication1/ConsoleApplication1/Debug/
Task_CyclicAlgorithms/Task02/ConsoleApplication1/Debug/
Task_CyclicAlgorithms/Task02/ConsoleApplication1/ConsoleApplication1/Debug/
Task_CyclicAlgorithms/Task03/ConsoleApplication1/Debug/
Task_CyclicAlgorithms/Task03/ConsoleApplication1/ConsoleApplication1/Debug/

Task_Arrays/Task01/ConsoleApplication1/Debug/
Task_Arrays/Task01/ConsoleApplication1/ConsoleApplication1/Debug/
Task_Arrays/Task01_a/ConsoleApplication1/Debug/
Task_Arrays/Task01_a/ConsoleApplication1/ConsoleApplication1/Debug/

Task_Sorting/Task01/ConsoleApplication1/Debug/
Task_Sorting/Task01/ConsoleApplication1/ConsoleApplication1/Debug/


Task_LinearSearch/Task01/ConsoleApplication1/Debug/
Task_LinearSearch/Task01/ConsoleApplication1/ConsoleApplication1/Debug/

Task_LinearSearch/Task02/ConsoleApplication1/Debug/
Task_LinearSearch/Task02/ConsoleApplication1/ConsoleApplication1/Debug/

Task_BinarySearch/Task01/ConsoleApplication1/Debug/
Task_BinarySearch/Task01/ConsoleApplication1/ConsoleApplication1/Debug/


Task_Stack/Task01/ConsoleApplication1/ConsoleApplication1/Debug/
Task_Stack/Task01/ConsoleApplication1/Debug/

Task_Queue/Task01/ConsoleApplication1/ConsoleApplication1/Debug/
Task_Queue/Task01/ConsoleApplication1/Debug/


Task_SingleLinkedList/Task01/ConsoleApplication1/ConsoleApplication1/Debug/
Task_SingleLinkedList/Task01/ConsoleApplication1/Debug/

Task_DoubleLinkedList/Task01/ConsoleApplication1/ConsoleApplication1/Debug/
Task_DoubleLinkedList/Task01/ConsoleApplication1/Debug/

Task_ModularArchitecture/Debug
Task_ModularArchitecture/Task11/Debug

Task_Classes/ConsoleApplication1/ConsoleApplication1/Debug/
Task_Classes/ConsoleApplication1/Debug/

Task_Streams/ConsoleApplication1/ConsoleApplication1/Debug/
Task_Streams/ConsoleApplication1/Debug/